In [18]:
''' Project 1: Global Music Mood Map ðŸŽ¶

This notebook explores Spotifyâ€™s top songs by country, using audio features
(cellvalence = happiness, energy = intensity, danceability = movement).  

Goal is Compare average moods of top songs across different countries.  '''

' Project 1: Global Music Mood Map ðŸŽ¶\n\nThis notebook explores Spotifyâ€™s top songs by country, using audio features\n(cellvalence = happiness, energy = intensity, danceability = movement).  \n\nGoal is Compare average moods of top songs across different countries.  '

In [19]:
import pandas as pd 
import matplotlib.pyplot as plt

In [20]:
FILE_PATH = "/Users/pranjalganvir/Documents/GitHub/spotify-virality-project/data/universal_top_spotify_songs.csv"
df = pd.read_csv(FILE_PATH)
df.head()

,spotify_id,name,artists,daily_rank,daily_movement,weekly_movement,country,snapshot_date,popularity,is_explicit,...,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,2RkZ5LkEzeHGRsmDqKwmaJ,Ordinary,Alex Warren,1,1,0,NaN,2025-06-11,95,False,...,2,-6.141,1,0.0600,0.704000,0.000007,0.0550,0.391,168.115,3
1,42UBPzRMh5yyz0EDPr6fr1,Manchild,Sabrina Carpenter,2,-1,48,NaN,2025-06-11,89,True,...,7,-5.087,1,0.0572,0.122000,0.000000,0.3170,0.811,123.010,4
2,0FTmksd2dxiE5e3rWyJXs6,back to friends,sombr,3,0,1,NaN,2025-06-11,98,False,...,1,-2.291,1,0.0301,0.000094,0.000088,0.0929,0.235,92.855,4
3,7so0lgd0zP2Sbgs2d7a1SZ,Die With A Smile,"Lady Gaga, Bruno Mars",4,0,-1,NaN,2025-06-11,91,False,...,6,-7.727,0,0.0317,0.289000,0.000000,0.1260,0.498,157.964,3
4,6dOtVTDdiauQNBQEDOtlAB,BIRDS OF A FEATHER,Billie Eilish,5,1,0,NaN,2025-06-11,100,False,...,2,-10.171,1,0.0358,0.200000,0.060800,0.1170,0.438,104.978,4

In [ ]:
# Isolating country, valence, energy, danceability, name for the mood analysis AND daily_movement, weekly_movement for trajectory analysis 
df = df[[
    "name","country", "valence", "energy",
    "danceability","daily_movement", "weekly_movement"
]]

# drops the rows where val is NaN
df = df.dropna(subset=[
    "name","country", "valence", "energy",
    "danceability","daily_movement", "weekly_movement"
])

df

,name,country,valence,energy,danceability,daily_movement,weekly_movement
51,Uzizwa Kanjan (feat. GL_Ceejay),ZA,0.560,0.431,0.510,0,0
52,Mali,ZA,0.291,0.538,0.807,0,0
53,"Abantwana Bakho (feat. Thatohatsi, Young Stunn...",ZA,0.542,0.747,0.740,0,1
54,Vuka (feat. Thukuthela),ZA,0.524,0.455,0.738,3,1
58,Ordinary,ZA,0.391,0.694,0.368,0,1
...,...,...,...,...,...,...,...
2110311,Slime You Out (feat. SZA),AE,0.105,0.408,0.483,4,0
2110312,SAY MY GRACE (feat. Travis Scott),AE,0.476,0.635,0.773,3,0
2110313,People,AE,0.693,0.422,0.573,2,0
2110314,Rainy Days,AE,0.282,0.454,0.633,1,0
2110315,Prada,AE,0.422,0.717,0.638,0,0